@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dbg: #0F1217;
  --color-dText: #E5E7E6;
  --color-dMuted-text: #9AA1B5;
  --color-dPrimary: #7A999E;
  --color-daccent: #6A8C9E;
  --color-dbordercolor: #272B33;
  --color-dcard: #1A1D23;
  --color-card: #FFFFFFD9;
  --color-bg: #F5F5F3;
  --color-text: #1A1F1D;
  --color-primary: #4A5A5D;
  --color-muted-text: #7B7F95;
  --color-accent: #5C7B8A;
  --color-bordercolor: #E5E7EB;
  --color-danger: #EF4444;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}

/* Add these utilities to your Tailwind config */
.transform-gpu {
  transform: translateZ(0);
}
